@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url(resert.css);
html{
    margin-left:  30px;
    font-family: font-family 'Raleway', sans-serif;
}
h1{
    font-weight: 300;
    font-size: 2em;
}
h2{
    font-weight: 700;
    font-size: 2em;
}
h3{
    font-weight: 700;
    font-size: 2em;
}
div{
    border: 3px solid  red
}

.container{
    background-color:  lightsalmon;
}

#nome-empresa{
    color:  aquamarine;
}

.tabelinha th, td{
    border:  0.5px solid rgb(78, 78, 78);
}

.tabelinha{
    border:  2px solid;
}

.tabelinha th, td{
    padding:  10px 20px ;
}
input{
    margin-bottom:  10px;
}
#btn-enviar{
    margin-bottom: 20px;
}